
/* .slick-prev , .slick-next{ color: red; font-size: 20px; bottom: 10px; }  */


.slider-container .slick-slide{
   /* background-color: #575656; */
    background-image: linear-gradient(
    to bottom, 
    #333333, /* A dark gray at the top */
    #666666  /* A medium-dark gray at the bottom */
  );
    text-align: center;
}
.slider-container.slick-slide slick-cloned{
    display: none;
}
.part-1 h3{
    color: #bf9766;
    font-size: 20px;
    padding: 10px 0 0 0;
    margin-top: 20px;
}
.part-1 h2{
    color: #fff;
    font-size: 80px;
    font-weight: 200;
    padding: 0px 0px 0px 40px;
    margin: 15px 0;
}
.part-1 p {
    /* margin: 30px 0; */
    margin: 60px 0;
    text-align: center;
}
